PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:zN1Us7FegoWikQw3@db.pcujzoxfsevhxxiopxpw.supabase.co:5432/postgres
JWT_SECRET=08M5gAkCk7o8sJVpmgjXd90CXoegsBqbpqkSUR1zFfw
JWT_PARTIAL_SECRET=change-me-partial-token-secret
ALLOWED_EMAIL_DOMAINS=university.edu,company.org, gmail.com
OTP_EXPIRY_MINUTES=10
CORS_ORIGIN=*
