PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://postgres:zN1Us7FegoWikQw3@db.pcujzoxfsevhxxiopxpw.supabase.co:5432/postgres
DATABASE_URL=postgresql://postgres.pcujzoxfsevhxxiopxpw:zN1Us7FegoWikQw3@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres
JWT_SECRET=08M5gAkCk7o8sJVpmgjXd90CXoegsBqbpqkSUR1zFfw
JWT_PARTIAL_SECRET=08M5gAkCk7o8sJVpmgjXd90CXoegsBqbpqkSUR1zFfw
ALLOWED_EMAIL_DOMAINS=gmail.com,university.edu,company.org
OTP_EXPIRY_MINUTES=10
CORS_ORIGIN=*
